<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Игра на реакцию</title>
<!--	<link rel="stylesheet" type="text/css" href="style_secondChance.css">-->
    <!--    java -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style_secondChance.css">
<!--        <link rel="stylesheet" type="text/css" href="../css/style_leaderBoardPage.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="timer" id="timer">10</div> 
	<div class="container_for_game">
		<div class="border"><!--Поле игры-->
            <div class="header" id="header"> <!--сделал правильную линию бордер в блоке хедер, в следующий раз нужно добавлять меню в хедер через <button onclick="window.location.href='../gamePage/secondChanse.html';"> Авторизация </button>, а так же следать так, чтобы при нажатии кнопки играть это меню убиралось-->
                <nav class="menu">
                    <ul>
<!--                        <a class="game" href="C:\Users\79312\Desktop\Игра на реакцию\Front\Main\gamePage\secondChanse (1).html"> Игра </a><a class="profile" href="C:\Users\79312\Desktop\Игра на реакцию\Front\Main\profilePage\profilePage.html"> Личный кабинет </a><a class="leaderBoard" href="C:\Users\79312\Desktop\Игра на реакцию\Front\Main\leaderBoardPage\leaderBoardPage.html"> Таблица лидеров </a><a class="aboutUs" href="C:\Users\79312\Desktop\Игра на реакцию\Front\Main\aboutUsPage\aboutUs.html"> О нас </a>-->
                        <a class="game" href="/gamePage/reaction_game"> Игра </a>
                        <a class="profile" href="/profilePage/editFormUser"> Личный кабинет </a>
                        <a class="leaderBoard" href="/leaderBoardPage"> Таблица лидеров </a>
                        <a class="aboutUs" href="/aboutUsPage/aboutUs"> О нас </a>

                    </ul>
                </nav>
                    <div class="result" id="result">
                        <div class="result_title" id="result_title">
                        <div id="result_title_p">Ваш результат</div></div>
                        <div class="score" id="score"><p id="score_p"></p></div>
                    </div><!--Результат-->
        
<!--                    <div class="start_btn" onclick="beginGame(this)" onclick="timer(this)" onclick="hideNav(this)" id="start_btn">Старт</div>&lt;!&ndash;Кнопка начала игры&ndash;&gt;-->
<!--                    <div class="square" onclick="square(false)" id="square"></div>-->
                    <div class="start_btn" id="start_btn">Старт</div><!--Кнопка начала игры-->
                    <div class="square" id="square"></div><!--Квадрат-->

            </div>
            <div class="footer1"></div>
		</div><!--Граница-->
	</div><!--Контейнер для игры-->

	<script type="text/javascript">

        let start_btn = document.querySelector('.start_btn'),
            square = document.querySelector('.square');
        start_btn.addEventListener('click', beginGame, timer);
        square.addEventListener('click', squareFunc);



        let timer_var = 10;

           
            let k = 0;

            let number = 0;

            let sqr = 0;

            let x = 45;
            let y = 45;

            const inter = setInterval(timer, 1000);

            function timer() {
                if (k > 0)
                    timer_var--;

                if (timer_var >= 0)

                    document.getElementById("timer").innerHTML = timer_var;
                else {
                    document.getElementById("timer").innerHTML = "Конец игры";
                    clearInterval(inter);
                    document.getElementById("square").style.display = "none";
                    document.getElementById("result").style.display = "block";
                    document.getElementById("result_title").style.display = "block";
                    let result = number / 30;
                    document.getElementById("score_p").innerHTML = result;
                    document.getElementById("square").style.display = "none";
                    document.getElementById("square").style.left = "x";
                    document.getElementById("square").style.top = "y";

                    ajaxSend(result);
                }
            }
            /*function hideNav() {
                document.getElementById('header').style.display="none";
            }*/ /* функция скрытия меню при нажатии кнопки старт, разобраться почему созданная функция не срабатывает */

            function beginGame() {
                if (k == 0) {
                    k++;

                    sqr++;
                }

                
                document.getElementById("start_btn").style.display = "none";

                // square(true); /* через такой же дисплей нан убрать меню после начала игры*/
                squareFunc(true); /* через такой же дисплей нан убрать меню после начала игры*/

                document.getElementById("square").style.display = "block";
            }


            function squareFunc() {
            // function square(isStart) {
                x = Math.random() * (650 - 65);
                y = Math.random() * (400 - 65);

                
                if (!isStart) number++;

                document.getElementById("square").style.left = x + "px";
                document.getElementById("square").style.top = y + "px";
            }
	</script>

    <script>
        function ajaxSend(result) {

            $.ajax({
                url: 'secondChanse',
                data: {
                    myPostVar: result
                },
                succes: function() {
                    console.log("ajax result = "+result);
                },
                type: 'POST'
            });
        }
    </script>

</body>
</html>