<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="game_style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра на реакцию</title>
</head>
<body>
    <div class="timer" id="timer">30</div>

    <div class="container_for_game">
        <div class="border">
            <div class="result" id="result">
                <div class="result_title" id="result_title">Ваш результат</div>
                <div class="score" id="score"><p id="score_p"></p></div>
            <div class="button_start" onclick="beginGame(this)" id="button_start">Старт</div> <!--Кнопка начала игры-->
            <div class="square" onclick="square(this)" id="square"></div> <!--Квадрат-->
            </div> <!--Результат-->
        </div> <!--Граница-->
    </div> <!--Контейнер для игры-->

    <script type="text/javascript">
            let timer_var = 30;

            let k = 0;

            let number = 0;

            let sqr = 0;

            let x = 45;
            let y = 45;

            let inter = setInterval(timer, 1000);

            function timer(){
                if (k > 0)
                    timer_var--;

                if (timer_var >= 0)

                    document.getElementById("timer").innerHTML = timer_var;
                else {
                    document.getElementById("timer").innerHTML = "Конец игры";
                    clearInterval(inter);
                    document.getElementById("square").style.display = "none";
                    document.getElementById("result").style.display = "block";
                    document.getElementById("result_title").style.display = "block";
                    let result = number / 30;
                    document.getElementById("score_p").innerHTML = result;
                    document.getElementById("square").style.display = "none";
                    document.getElementById("square").style.display = "x";
                    document.getElementById("square").style.display = "y";

                }
            }

            function beginGame(){
                if (k == 0) {
                    k++;

                    sqr++;
                }

                document.getElementById("button_start").style.display = "none";

                document.getElementById("square").style.top = "block";
            }

            function square() {
                x = Math.random() * (400 - 65);
                y = Math.random() * (400 - 65);

                number++;

                document.getElementById("square").style.left = x + "px";
                document.getElementById("square").style.left = y + "px";
            }
    </script>

</body>
</html>
