<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма редактирования</title>
<!--        <link rel="stylesheet" type="text/css" href="./css/style_enterPage.css">-->
        <link rel="stylesheet" type="text/css" href="../static/css/style_enterPage.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>

<a href="/index"></a>
    <div class="container_for_game">
            <div id="toRegister">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="register-wr">
                                <h2> Форма редактирования </h2>
                                <form method="post">
                                    <div th:object="${user}"  class="form">
                                        <input type="text" th:field="*{name}">
                                        <input type="text" th:field="*{secondName}">
                                        <input type="text" th:field="*{thirdName}">
                                        <input type="email" th:field="*{email}">
                                        <input type="password" th:field="*{password}">
                                        <input type="tel" th:field="*{phone}">
                                        <input type="text" th:field="*{info}">
                                        <!--								<button onclick="window.location.href='../gamePage/secondChanse (1).html';"> Зарегистрироваться </button>-->
                                        <button type="submit"> Изменить </button>
<!--                                        <a onclick="toLogin();"><p> У вас есть аккаунт? Вход </p></a>-->
                                        <a href="/enterPage" ><p> У вас есть аккаунт? Вход </p></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--Поле регистрации-->
        </div><!--Граница-->
    </div><!--Контейнер для игры-->


<script type="text/javascript">

    // var login = document.getElementById('toLogin');
    var register = document.getElementById('toRegister');
       register.style.display = 'block';

</script>

</body>
</html>