<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Рейтинг</title>
<!--    java -->
    <link rel="stylesheet" type="text/css" href="./css/style_leaderBoardPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<div class="timer" id="timer">10</div>
<div class="container_for_game">
    <div class="border"><!--Поле игры-->
        <div class="header" id="header"> <!--сделал правильную линию бордер в блоке хедер, в следующий раз нужно добавлять меню в хедер через <button onclick="window.location.href='../gamePage/secondChanse.html';"> Авторизация </button>, а так же следать так, чтобы при нажатии кнопки играть это меню убиралось-->
            <nav class="menu">
                <ul>
                    <a class="game" href="/secondChance"> Игра </a>
                    <a class="profile" href="/profilePage"> Личный кабинет </a>
                    <a class="leaderBoard" href="/leaderBoardPage"> Таблица лидеров </a>
                    <a class="aboutUs" href="/aboutUs"> О нас </a>
                </ul>
            </nav>
            <div class="leaderBoard">
                <table th:object="${userRating}">
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Рейтинг</th>
                    </tr>
                    <tr th:each="list : ${userRating}">
                        <td th:utext="${list.firstName}"></td>
                        <td th:utext="${list.secondName}"></td>
                        <td th:utext="${list.thirdName}"></td>
                        <td th:style="center"  th:utext="${list.rating}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div><!--Граница-->
</div><!--Контейнер для игры-->
</body>
</html>